// typeahead dropdown styles
.tt-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    padding: 0;
    text-align: left;
}
// typeahead dropdown items styles
.tt-suggestion {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
// typeahead dropdown items hover styles
.tt-suggestion:hover {
    background-color: #f5f5f5;
}
// typeahead dropdown items active styles
.tt-suggestion.tt-cursor {
    background-color: #f5f5f5;
}
// typeahead dropdown items active styles
.tt-suggestion.tt-is-under-cursor {
    background-color: #f5f5f5;
}
// typeahead dropdown highlight styles
.tt-highlight {
    color: #0056b3;
    background-color: #f5f5f5;
}
